@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 91%; /* #FFF7D1 */
    --foreground: 0 0% 22%; /* #383838 */

    --card: 48 100% 91%; /* #FFF7D1 */
    --card-foreground: 0 0% 22%;

    --popover: 48 100% 91%; /* #FFF7D1 */
    --popover-foreground: 0 0% 22%;

    --primary: 48 100% 91%; /* #FFF7D1 */
    --primary-foreground: 0 0% 22%;

    --secondary: 41 100% 89%; /* #FFECC8 */
    --secondary-foreground: 0 0% 22%;

    --muted: 33 100% 80%; /* #FFD09B */
    --muted-foreground: 0 0% 22%;

    --accent: 33 100% 80%; /* #FFD09B */
    --accent-foreground: 0 0% 22%;

    --destructive: 33 100% 80%; /* #FFD09B */
    --destructive-foreground: 0 0% 22%;

    --border: 48 31.8% 91.4%;
    --input: 48 31.8% 91.4%;
    --ring: 48 40% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 48 40% 4.9%;
    --foreground: 0 0% 22%;

    --card: 48 40% 4.9%;
    --card-foreground: 0 0% 22%;

    --popover: 48 40% 4.9%;
    --popover-foreground: 0 0% 22%;

    --primary: 48 100% 91%; /* #FFF7D1 */
    --primary-foreground: 0 0% 22%;

    --secondary: 41 100% 89%; /* #FFECC8 */
    --secondary-foreground: 0 0% 22%;

    --muted: 33 100% 80%; /* #FFD09B */
    --muted-foreground: 0 0% 22%;

    --accent: 33 100% 80%; /* #FFD09B */
    --accent-foreground: 0 0% 22%;

    --destructive: 33 100% 80%; /* #FFD09B */
    --destructive-foreground: 0 0% 22%;

    --border: 48 32.6% 17.5%;
    --input: 48 32.6% 17.5%;
    --ring: 48 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}