@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 12% 46%; /* #666A86 */
    --foreground: 210 40% 98%;

    --card: 217 25% 55%; /* #788AA3 */
    --card-foreground: 210 40% 98%;

    --popover: 174 19% 64%; /* #92B6B1 */
    --popover-foreground: 210 40% 98%;

    --primary: 92 24% 73%; /* #B2C9AB */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 43 39% 81%; /* #E8DDB5 */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 217 25% 55%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 174 19% 64%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225 12% 46%;
    --foreground: 210 40% 98%;

    --card: 217 25% 55%;
    --card-foreground: 210 40% 98%;

    --popover: 174 19% 64%;
    --popover-foreground: 210 40% 98%;

    --primary: 92 24% 73%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 43 39% 81%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 25% 55%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 174 19% 64%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}